/** GENERAL */
body {
  background:#000;
  font-family:Julius Sans One,Sawasdee,Tahoma,sans-serif;
  margin:0;
}

h1,h2,h3,h4,h5,h6,p,span {
  text-transform: uppercase;
}

a {
  display:inline-block;
  text-decoration: none;
  margin: 0 7px;
  color:#123;
}

li {
  cursor: pointer;
}

.wrapper{
  max-width: 600px;
  border: 5px solid #ddd;
  background-color: rgba(0, 0, 0, 0.5);
}

.section {
  position: relative;
  background-color:#ddd;
  height:85vh;
  margin:30px 12px;
  color:#fff;
  display:flex;
  justify-content: center;
  align-items: center;
  background-size:cover;
  background-attachment: fixed;
}

.header, .footer {
  background-color:#ddd;
  /*margin: 0 12px 0 12px;*/
  display:inline-block;
  z-index:1;
}
/** LANDER */

.lander {
  /*margin:20px 15px;*/
  background: url(https://unsplash.it/1024/768?image=381) no-repeat 50% 50%;
  /*background:url('/images/Background.png') no-repeat 50% 50%;*/
  background-size:cover;
  background-attachment: fixed;
  height:100vh;
  /*padding:2em;*/
  align-items:center;
  justify-content: center;
  display:flex;
}

.container {
  text-align: center;
  color: #fff;
}

.name {
  margin:auto;
  padding:0 2em 0 2em;
  max-width: 400px;
  border: 5px solid #ddd;
  background-color: rgba(0, 0, 0, 0.5);
}

.name h1 {
  font-size:35px;
}

.scroller p {
  font-size:20px;
}

/** NAV BAR */
.header{
  /* this width bullshit aint working */
  /*width: calc(100% - 2em);*/
  position: relative;
  background:#eee;
  height:50px;
  padding:5px 0;
  /*border-radius:5px;*/
}

.home-icon {
  float:left;
  margin-left:auto;
  margin-right: auto;
}

.home-icon a {
  margin-left:20px;
}

.logo {
  width:50px;
  height:50px;
  margin-left:auto;
  margin-right: auto;
  pointer-events: none;
}

.navigation {
  float:right;
  margin-right:20px;
}

.nav-bar {
  list-style: none;
}

.nav-bar li {
  display:inline;
  padding: 1.3em 0;
  border-radius: 2px;
}

.nav-bar li:hover {
  background-color: #444;
}

.fixed {
  position:fixed;
  width:100%;
}



/** ABOUT */

.fix_height {
  margin-top:85px;
}

.about {
  background: url(https://unsplash.it/1920/1080?image=527) no-repeat 50% 50%;
  /*background:url('/images/Background.png') no-repeat 50% 50%;*/
}

.heading {
  text-align: center;
  padding-top:5%;
}

.description {
  text-align: center;
  max-width:350px;
  margin:30px;
  border-top-style:dashed;
  font-size:20px;
}


/** WORK EXPERIENCE */
.work-experience {
  background: url(https://unsplash.it/1920/1080?image=704) no-repeat 50% 50%;
}

.exp-content {
  border-top:dashed;
  font-size: 17px;
  margin:30px;
}

.work-1 {
  text-align: center;
  float:left;
  margin:15px;
}

.work-2 {
  text-align: center;
  float: right;
  margin:15px;
}

.resume {
  text-align:center;
}

.resume p {
  cursor: pointer;
}

/** PROJECTS */
.projects {
  background: url(https://unsplash.it/1920/1080?image=668) no-repeat 50% 50%;
}

.projects-content {
  text-align: center;
  border-top:dashed;
  font-size:20px;
  margin:30px;
}


/** BLOG */
.blog {
  background: url(https://unsplash.it/1920/1080?image=759) no-repeat 50% 50%;
}

.blog-content {
  text-align: center;
  border-top:dashed;
  font-size:20px;
  margin:30px;
}


/** CONTACT */
.contact {
  background: url(https://unsplash.it/1920/1080?image=460) no-repeat 50% 50%;
}

.contact-content {
  text-align: center;
  border-top:dashed;
  font-size:20px;
  margin:30px;
}

.contact-content span {
  cursor:pointer;
}

/** FOOTER */
.footer {
  position:relative;
  margin:0;
  padding:10px 0;
  width:100%;
  /*padding: 5px 0 5px 0;
  border-radius: 5px;*/
  text-align: center;
}

.copy {
  /*float:right;*/
  padding-right:10px;
}

.coffee-icon {
  vertical-align: sub;
  height:20px;
}

/** HELPER CLASS CSS */

.light-hidden {
  display:none;
}

.hidden {
  display:none!important;
  visibility:hidden;
}

.invisible {
  visibility:hidden;
}

.clearfix::before,
.clearfix::after {
  content:" ";
  display:table;
}

.clearfix::after {
  clear:both;
}

.clearfix {
  *zoom:1;
}
