<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>theodore.tan</title>
    <meta name="author" name="Theodore Tan">
    <meta name="description" content="The personal website of Theodore Tan. Full stack developer currently working as a Frontend Developer Intern at Shopify">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/index.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <% erb :analytics %>
  </head>
  <body>
    <div class="container">
      <div class="container-left">
        <div>
          <h1>Theodore Tan</h1>
        </div>
        <div>
          <p>Front-end Developer at Shopify</p>
        </div>
      </div>
      <div class="container-right">
        <img class="cover-image" src="images/10212994548651840-01-min.jpeg" />
      </div>
    </div>
    <div id="after-content"></div>
  </body>
</html>
