<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>theodore.tan</title>
    <meta name="author" name="Theodore Tan">
    <meta name="description" content="The personal website of Theodore Tan. Full stack developer currently working as a Frontend Developer Intern at Shopify">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/index.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <% if settings.production? %>
      <% erb :analytics %>
    <% end %>
  </head>
  <body>
    <div class="container">
      <div class="container-left">
        <div class="content-name">
          <h1>Theodore Tan</h1>
        </div>
        <div class="content-description">
          <p>Front-end Developer at Shopify</p>
        </div>
        <div class="content-links">
          <ul class="content-list">
            <li class="content-item">
              <a class="content-link" href="https://github.com/theodoretan" title="Github" aria-label="Link to Github">
                <svg viewBox="0 0 15 15" width="25" height="25">
                  <use href="images/github.svg#logo" />
                </svg>
              </a>
            </li>
            <li class="content-item">
              <a class="content-link" href="https://instagram.com/theodoretan_" title="Instagram" aria-label="Link to Instagram">
                <svg viewBox="0 0 15 15" width="25" height="25">
                  <use href="images/instagram.svg#logo" />
                </svg>
              </a>
            </li>
            <li class="content-item">
              <a class="content-link" href="files/resume.pdf" title="Resume" aria-label="Link to Resume">
                <svg viewBox="0 0 15 15" width="25" height="25">
                  <use href="images/resume.svg#logo" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="content-footer">
          <div class="copyright">
            <p>&copy; Theodore Tan <%= Time.now.year %></p>
          </div>
        </div>
      </div>
      <div class="container-right">
        <img class="cover-image" src="images/10212994548651840-01-min.jpeg" />
      </div>
    </div>
    <div id="after-content"></div>
  </body>
</html>
