<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>lost/theodore.tan</title>
    <meta name="author" name="Theodore Tan">
    <meta name="description" content="404 Page • Theodore Tan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/index.css" />
    <% if settings.production? %>
      <% erb :analytics %>
    <% end %>
  </head>
  <body>
    Lost
  </body>
</html>
